* {
    margin: 0;
    padding: 0;
    }

body {
    background-color:#0D1116;
}


.page {
    margin-left:var(--nav-width);
    width:var(--page-width);
    height:100%;
    display:flex;
    flex-wrap:wrap;
    padding: 0 var(--page-padding) 0 var(--page-padding);
    font-family:"Rubik", serif;

}

@media (max-width: 1180px) {
    .page {
        margin-left:0;
    }
}

.layout-header-section {
    flex-basis:100%;
}

.layout-content-section {
    flex-basis:100%;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.section-header {
    color: var(--text-color-secondary);
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 25px;
}

:root {

    --nav-width: 200px;
    --page-padding: 100px;

    --layout-content-flex-gap: 20px;

    --layout-section-half-width: calc(50% - --layout-content-flex-gap);

    --page-width: calc(100% - --page-width-negative);
    --page-width-negative: --navwidth + calc(--page-padding * 2);


    --primary-color: #161C23;
    --secondary-color: #1a222a;
    --accent-color: #5865F2;
    --accent-color-hover: #0062cc;
    --text-color: #fff;
    --text-color-logo: #43c2ff;
    --text-color-primary: #7c97b9;
    --text-color-secondary: #4e5e72;
    --server-status-gradient-online:linear-gradient(to right, #161C23, #161C23 83%, rgb(0 255 114 / 8%));
    --server-status-gradient-offline:linear-gradient(to right, #161C23, #161C23 83%, rgb(255 78 78 / 9%));
    --server-status-button-online-bg:#b3ffb20a;
    --server-status-button-offline-bg:#ff99990a;
    --server-status-button-offline-color:#ffa6a6;
    --server-status-button-online-color:#a5ffa5;

  }
  
  .route-navigation {
    margin-bottom:20px;
    margin-top:20px;
    color: #344158;
  }

  .route-navigation i {
    position:relative;
    top:1px;
}

  .route-navigation a {
    transition:0.2s ease-in-out;
    color: var(--text-color-logo);
  }

  .route-navigation a:hover {
    color: var(--text-color-secondary);
  }
  
  .no-link-styles {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  
  .no-link-styles:hover,
  .no-link-styles:focus {
    text-decoration: none;
  }


.hvr-grow {
    transition-duration:0.3s !important;
    display:block !important;
}

.hvr-grow:hover {
    transform: scale(1.025) !important;
}