

.navbar {
  position:fixed;
  width:220px;
  height:100%;
  background: #090c0e;
  border-right: 1px solid var(--secondary-color);
  font-family: "Rubik", serif;
  top:0;
  transition: transform 0.3s ease-in-out;
  z-index:98;

  @media (max-width: 1186px) {
    transform: translateX(-220px);
  }

  & .navbar-logo {
    width:220px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;

    & img {
      height:50px;
      position:relative;
      top:5px;
    }
  }


}

.navbar-active {
  transform: translateX(0);
}

.navbar-toggle {
  z-index:99;
  position: absolute;
  top: 10px;
  left: 10px;
  border:0;
  color:#fff;
  background:var(--primary-color);
  font-size:18px;
  height:60px;
  width:60px;
  border-radius:1000px;

  & i {
    line-height: 60px;
  }
}


.navbar-section {

  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;

  & p {
    color: var(--text-color-secondary);
    font-weight: 200;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
  }

  & ul {
    list-style: none;
    width: 200px;
    text-align: left;

    & li {
      line-height: 50px;
    }
  }

  & a {
    transition:0.3s ease-in-out;
    display: block;
    font-size: 15px;
    color: var(--text-color);
    text-decoration: none;
    padding-left:10px;

    &:hover {
      background: var(--accent-color-hover);
      border-radius:4px;
    }

    & i {
      position:relative;
      top:3px;
      font-size: 17px;
      left: 5px;
      margin-right:15px;
    }
  }

}
.navbar-section, .navbar-logo {
  border-bottom:1px solid var(--secondary-color);
}

