@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');




.sidebar-widget {
  background: var(--primary-color);
  border:var(--border);
  flex-basis:100%;
  position:sticky;
  height:fit-content;
  border-radius: 4px;

  & .sidebar-widget-content {
    color:#fff;
    padding:20px;

    & p {
      margin-bottom:5px;
    }
  }

  & .sidebar-widget-header {
    display:flex;
    & .header-content {
      flex-basis:90%;
      padding:20px;
      
      & h1 {
        position:relative;
        top:50%;
        transform:translateY(-50%);
      }
    }

    & .header-toggle {
      transition:0.1s ease-in-out;
      position:relative;
      padding-left:20px;
      padding-right:20px;
      color:var(--text-color-logo);
      text-align:right;
      border-left:var(--border);

      &:hover {
        cursor:pointer;
        color:var(--text-color-logo-hover);
        background-color:rgba(255, 255, 255, 0.02);
      }

      & i {
        position:relative;
        top:50%;
        transform:translateY(-50%);
        font-size:18px;

      }
    }
  }


  & .sidebar-widget-header, .sidebar-widget-content {
    border-bottom:var(--border);

      & p {
        margin-top:0;
        }
    }

}


@media (max-width: 1180px) {
  .layout-sidebar, .server-list {
    flex-basis:100%;
  }

  .layout-sidebar {
    order:1;
  }

  .server-list {
    order:2;
  }
}


.server-list-search-bar {
  display:flex;
  flex-basis:100%;
  transition: 0.2s ease-in-out;
  padding: 20px;
  background:var(--primary-color);
  border:var(--border);
  width: 100%;
  border-radius: 4px;

  & i {
    position:relative;
    top:5px;
    color:var(--text-color-logo);
    font-size:24px;
  }

  & input {
    flex-basis:90%;
    background:inherit;
    padding:10px;
    border:0;
    outline:0;
    width:100%;

    &::placeholder {
      color:#cce9ff;
      font-family:"Rubik", serif;
    }
  }

  & input[type=text] {
    color:#cce9ff;
    font-family:"Rubik", serif;
  }

  
  & input:focus-visible {
    outline:0;
  }
}



.server-list {
  flex-basis:var(--layout-section-half-width);
  flex-grow:2;

  & ul {
    list-style:none;
  }

  & li {
    padding: 15px;
    margin-top: 10px;
    color: var(--text-color);
    font-family: "Rubik";
    font-weight: 300;
    cursor:pointer;
    transition:0.3s ease-in-out;
    border-bottom: 3px solid rgba(255, 255, 255, 0.03);
    
    position:relative !important;
    border-radius:4px;

  & strong {
    font-weight:500;
  }

    &:first-child {
      margin-top:0;
    }
  }

  & h1 {
    color: var(--text-color);
    font-family: "Rubik", serif;
    font-weight: 500;
  }

  & .server-widget {
    background:var(--primary-color);
  
    &:hover {
      background:var(--primary-color-offset-1);
    }
  }
}

.pagination {
  position: sticky;
  bottom: 0;
  background: #090c0e;
  padding: 10px;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;


  & span {
    color:#fff;
    line-height: 40px;
  }

  & i {
    position:relative;
    top:2px;
  }

  & .pagination-buttons {
    display: flex;
    align-items: center;
    gap:10px;

    & button {
      transition:0.1s ease-in-out;
      border-radius:4px;
      padding-left:20px;
      padding-right:20px;
      padding:8px;
      border:0px;
      background: var(--accent-color);
      color: var(--text-color);

      &:hover {
        background: var(--accent-color-hover);
      }

      &:disabled {
        background: #2b2e54 !important;
        color: #888;
      }

    }
  }
}


.searchInputs select {
  background: var(--primary-color);
  border: 1px solid var(--text-color-secondary);
  color: var(--text-color);
  appearance: none;
}


.mapSelector {
  margin-left: 10px;
  padding: 12px;
}


.server-last-updated {
  position: absolute;
  bottom: 7px;
  left: 15px;
  color:#49708d;
  font-size: 12px;
}

.server-info {
  margin-top:15px;
  margin-bottom:20px;

  & span {
    background:rgba(255,255,255,0.05);
    border-radius:1000px;
    padding:8px;
    padding-left:12px;
    padding-right:12px;
    margin-right:5px;
    color:var(--text-color-logo);
  }

  &:first-child {
    margin-left:-5px;
  }

  & i {
    top: 2px;
    margin-right: 2px;
    position: relative;
  }
}

.server-status {
  position:absolute;
  right:13px;
  top:37px;
  background:rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(255 255 255 / 6%);
  padding:5px;
  border-radius: 4px;

  & i {
    top: 3px;
    margin-right: 5px;
    position: relative;
  }
}