@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');


.server-list {
  flex-basis:var(--layout-section-half-width);
  flex-grow:2;
}

.server-filters {
  flex-basis:var(--layout-section-half-width);
  position:sticky;
  height:fit-content;
  flex-grow:2;
}

@media (max-width: 1180px) {
  .server-filters, .server-list {
    flex-basis:100%;
  }

  .server-filters {
    order:1;
  }

  .server-list {
    order:2;
  }
}


.server-list-search-bar {
  display:flex;
  transition: 0.2s ease-in-out;
  padding: 20px;
  background:var(--primary-color);
  border:1px solid var(--secondary-color);
  width: 100%;
  border-radius: 4px;
}

.server-list-search-bar i{
  position:relative;
  top:5px;
  color:var(--text-color-logo);
  font-size:24px;
}

.server-list-search-bar input {
  flex-basis:90%;
  background:var(--primary-color);
  padding:10px;
  border:0;
  outline:0;
  width:100%;
}


.server-list-search-bar input[type=text], input::placeholder {
  color:#cce9ff;
  font-family:"Rubik", serif;
}




.server-list-search-bar {
  flex-basis:100%;
}

.server-list h1 {
  color: var(--text-color);
  font-family: "Rubik", serif;
  font-weight: 500;
}

.server-list li  {
  padding: 15px;
  margin-top: 10px;
  color: var(--text-color);
  font-family: "Rubik";
  font-weight: 300;
  cursor:pointer;
  transition:0.3s ease-in-out;
}

.server-list ul {
  list-style: none;
}


.server-list .server-list-search-bar input:focus-visible {
  outline:0;
}

.server-list .pagination {
  position: sticky;
  bottom: 10px;
  background: #0d1116;
  border-radius: 4px;
  padding: 15px;
}

.server-list .pagination span {
  color:#fff;
  line-height: 40px;
}

.server-list .pagination .pagination-buttons button {
  transition:0.1s ease-in-out;
  border-radius:1000px;
  padding-left:20px;
  padding-right:20px;
  padding:10px;
  min-width:100px;
  border:0px;
}

.server-list .pagination .pagination-buttons button:hover {
  background: var(--accent-color-hover);
}

.server-list .pagination i {
  position: relative;
  top:2px;
}


.server-list .pagination button {
  background: var(--accent-color);
  color: var(--text-color);
}

.server-list .pagination button:disabled {
  background: #2b2e54 !important;
  color: #888;
}


.searchInputs select {
  background: var(--primary-color);
  border: 1px solid var(--text-color-secondary);
  color: var(--text-color);
  appearance: none;
}

.pagination-buttons {
  display: flex;
  align-items: center;
  gap:10px;
}

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.mapSelector {
  margin-left: 10px;
  padding: 12px;
}

.server-listContainer {
  display:flex;
  flex-direction: row;
  gap:20px;
}

.server-list {
  flex-grow:2;
}

.server-filters {
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding:20px;
}

.server-info {
  margin-top:15px;
  margin-bottom:20px;
}

.server-last-updated {
  position: absolute;
  bottom: 7px;
  left: 15px;
  color:#49708d;
  font-size: 12px;
}

.server-info span {
  background:rgba(255,255,255,0.05);
  border-radius:1000px;
  padding:8px;
  padding-left:12px;
  padding-right:12px;
  margin-right:5px;
  color:var(--text-color-logo);

}

.server-info span:first-child {
  margin-left:-5px;
}

.server-list li {
  position:relative !important;
  border-radius:4px;
}

.server-list li strong {
  font-weight:500;
}

.server-status {
  position:absolute;
  right:13px;
  top:37px;
  background:rgba(255, 255, 255, 0.05);
  border: 1px solid rgb(255 255 255 / 6%);
  padding:5px;
  border-radius: 4px;

}

.server-status .server-status-online {
  color:var(--server-status-button-online-color);
}

.server-status .server-status-offline {
  color:var(--server-status-button-offline-color);
}

.server-list li.server-status-online {
  background-image:var(--server-status-gradient-online);
}

.server-list li.server-status-offline {
  background-image:var(--server-status-gradient-offline);
}


.server-status i {
  top: 3px;
  margin-right: 5px;
  position: relative;
}

.server-info i {
  top: 2px;
  margin-right: 2px;
  position: relative;
}

.server-filters p {
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
}


.multiselect, .multiselect .is-active {
  background:#0d1116 !important;
  border:0px !important;
  outline:0px !important;
  box-shadow:none !important;
}


.multiselect-tags-search {
  border:0px !important;
  background:#0d1116 !important;
}

.multiselect-option:hover {
  color:#fff !important;
  background: var(--accent-color) !important;
}

.multiselect-tag {
  background: var(--accent-color) !important;
}

.multiselect-dropdown {
  background:#0d1116 !important;
  border:0px !important;
  color:#fff !important;
}

input:focus-visible {
  border:0 !important;
}


.multiselect-option.is-pointed {
  background:none !important;
  color:#fff !important;
}